.outer-Squares{
    width: 600px;
    height: 600px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);



}

.inner-square {
    width: 150px;
    height:  150px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    padding: 10px;

  }
  
  .inner-circle {
    width:  150px;
    height:  150px;
    background-color: green;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;

  }